<%= form_for @video, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area', :rows => "4" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :language, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :language, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :artifact, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:artifact_id, Artifact.find(:all).collect {|artifact| [artifact.name, artifact.id]})%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Current video", :class => 'control-label' %>
    <div class="controls">
      <%= video_tag @video.clip, :autoplay => false, :controls => true, :width => "500px", :heigth => "350px"  %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :clip, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :clip, :style => "display:none;", :id => "file" %>
      <div class="input-append">
        <input type="text" name="subfile" id="subfile" class="input-xlarge">
        <a class="btn" onclick="$('#file').click();">Browse change</a>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                videos_path, :class => 'btn' %>
  </div>
<% end %>
