<%= form_for(@artifact) do |f| %>
  <% if @artifact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artifact.errors.count, "error") %> prohibited this artifact from being saved:</h2>

      <ul>
      <% @artifact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :dating %><br />
    <%= f.text_field :dating %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, "cols" => 40, "rows" => 10 %>
  </div>
  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :place %><br />
    <%= f.text_field :place %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </div>
  <div class="field">
<<<<<<< HEAD
    <%= f.label :material_id %><br />
 
<%= f.select(:material_id, Material.find(:all).collect { |material| [material.name, material.id] } ) %>

  </div>
  <div class="field">
    <%= f.label :gallery_id %><br />
 <%= f.select(:gallery_id, Gallery.find(:all).collect { |gallery| [gallery.name, gallery.id] } ) %>
=======
    <%= f.label :material %><br />
    <%= f.select("material_id", Material.find(:all).collect { |material| [material.name, material.id]}) %><br />
  </div>
  <div class="field">
    <%= f.label :gallery %><br />
    <%= f.select("gallery_id", Gallery.find(:all).collect { |gallery| [gallery.name, gallery.id] }) %><br />
>>>>>>> 1eb7c2c67bc736d93f092805f4491d08fc8d9648
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
