<%- model_class = Artifact -%>
<% if flash[:error_delete] %>
  <div class="alert alert-error">
    <button class="close" data-dismiss="alert">x</button>
      <%= flash[:error_delete] %>
  </div>
<% end %>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<% if @artifacts.empty? == true %>
  <%= form_tag artifacts_path, :method => :get do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil, :class => "btn btn-info" %>
  <% end %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_artifact_path,
              :class => 'btn btn-primary', :remote => true %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:id) %></th>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:dating) %></th>
        <!--<th><%= model_class.human_attribute_name(:description) %></th>-->
        <th><%= model_class.human_attribute_name(:code) %></th>
        <th><%= model_class.human_attribute_name(:place) %></th>
        <th><%= model_class.human_attribute_name(:size) %></th>
        <th><%= model_class.human_attribute_name(:language) %></th>
        <th><%= model_class.human_attribute_name(:material) %></th>
        <th><%= model_class.human_attribute_name(:gallery) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
  </table>
<% else %>
  <%= form_tag artifacts_path, :method => 'get', :remote => true do %>
    <div class="input-append">
      <%= text_field_tag :search, params[:search], :placeholder => "Search", :id => "appendedInputButton" %>
      <%= submit_tag "Search", :name => nil, :class => "btn" %>
    </div>
  <% end %>
  <%= form_tag "/artifacts/delete_choose/", :method => :post, :id => "artifacts_delete_choose" do %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
              new_artifact_path,
              :class => 'btn btn-primary', :remote => true %>
    <%= submit_tag "Delete Chooses", :class => 'btn btn-danger' %>
    <div id="artifacts">
      <%= will_paginate @artifacts, :inner_window => 3, :outer_window => 2, renderer: BootstrapPagination::Rails %>
      <table class="table table-striped">
          <thead>
            <tr>
              <th><%= model_class.human_attribute_name("#") %></th>
              <th><%= sortable "id" %></th>
              <th><%= model_class.human_attribute_name(:name) %></th>
              <th><%= model_class.human_attribute_name(:dating) %></th>
              <!--<th><%= model_class.human_attribute_name(:description) %></th>-->
              <th><%= model_class.human_attribute_name(:code) %></th>
              <th><%= model_class.human_attribute_name(:place) %></th>
              <th><%= model_class.human_attribute_name(:size) %></th>
              <th><%= model_class.human_attribute_name(:language) %></th>
              <th><%= model_class.human_attribute_name(:material) %></th>
              <th><%= model_class.human_attribute_name(:gallery) %></th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
            <% @artifacts.each do |artifact| %>
              <%= render :partial => artifact %>
            <% end %>
          </tbody>
      </table>
    </div>
  <% end %>
<% end %>
<div class="page-header">
  <h2>Artifact Form</h2>
</div>
<div id="artifact_form"><%= render :partial => "form" %></div>