<h1>Listing artifacts</h1>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Dating</th>
    <th>Description</th>
    <th>Code</th>
    <th>Place</th>
    <th>Size</th>
    <th>Language</th>
    <th>Material_id</th>
    <th>material_name</th>
    <th>Gallery_id</th>
    <th>Gallery_name</th>
<<<<<<< HEAD
    <th></th>
=======
>>>>>>> 1eb7c2c67bc736d93f092805f4491d08fc8d9648
    <th></th>
    <th></th>
  </tr>

<% @artifacts.each do |artifact| %>
  <tr>
    <td><%= artifact.name %></td>
    <td><%= artifact.dating %></td>
    <td><%= artifact.description %></td>
    <td><%= artifact.code %></td>
    <td><%= artifact.place %></td>
    <td><%= artifact.size %></td>
    <td><%= artifact.language %></td>
    <td><%= artifact.material_id %></td>
    <td><%= artifact.material.name %></td>
    <td><%= artifact.gallery_id %></td>
    <td><%= artifact.gallery.name %></td>
    <td><%= link_to 'Show', artifact %></td>
    <td><%= link_to 'Edit', edit_artifact_path(artifact) %></td>
    <td><%= link_to 'Destroy', artifact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Artifact', new_artifact_path %><br />
<%= link_to 'Galery', galleries_path %><br />
<%= link_to 'Material', materials_path %> 
