<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
        <!--<div class="well sidebar-nav">-->
            <ul class="nav nav-list bs-docs-sidenav">
              <li align="center"><label class="nav-header list-menu-first">Menu list</label></li>
              <li><%= menu_item raw("<i class='icon-chevron-right'></i>Artifact"), root_path %></li>
              <li><%= menu_item raw("<i class='icon-chevron-right'></i>Material"), materials_path %></li>
              <li>
                <%= menu_item raw("<i class='icon-chevron-right'></i>Gallery"), galleries_path %>
              </li>
              <li>
                <%= menu_item raw("<i class='icon-chevron-right'></i>Photo"), photos_path %>
              </li>
              <li>
                <%= menu_item raw("<i class='icon-chevron-right'></i>Audio"), audios_path %>
              </li>
              <li>
                <%= menu_item raw("<i class='icon-chevron-right'></i>Video"), videos_path %>
              </li>
              <li>
                <%= menu_item raw("<i class='icon-chevron-right'></i>User"), users_path %>
              </li>
              <li>
                <%= menu_item raw("<i class='icon-chevron-right'></i>Profile"), profiles_path, :class => "list-menu-last" %>
              </li>
            </ul>
        <!--</div>--><!--/.well -->
      </div><!--/span-->
    <!-- Menu left -->
        
    <div class="span9">
      <div class="well sidebar-nav">
        <div class="content">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div><!--/row-->
  <!-- Content -->
</div>