<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "BaoTang" %></title>
    <%= csrf_meta_tags %>

    <%= render 'layouts/shim' %>
  </head>
  <body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true">

    <%= render 'layouts/header' %>
    
    <%= render 'layouts/content' %>

    <%= render 'layouts/footer' %>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <script>
      $(document).ready(function() {
        $('.carousel').carousel({
          interval: 5000
        });

        $('#file').change(function(){
          $('#subfile').val($(this).val());
        });

        $('#avatarfile').change(function(){
          $('#textfile').val($(this).val());
        });

        if (history && history.pushState) {
          $('#artifacts .pagination a').live('click', function(event) {
            $.getScript(this.href);
            history.pushState(null, document.title, this.href);
            return false;
            /* Act on the event */
          });

          $('#artifacts th a').live('click', function(event) {
            $.getScript(this.href);
            history.replaceState(null, document.title, this.href);
            return false;
            /* Act on the event */
          });

          $('#artifacts_search input').keyup(function(event) {
            var action = $('#artifacts_search').attr('action');
            var formData = $('#artifacts_search').serialize();
            $.get(action, formData, null, 'script');
            history.replaceState(null, document.title, action + "?" + formData);
            return false;
            /* Act on the event */
          });

          $('#artifacts_search, #artifacts_delete_choose').submit(function(event) {
            $.get(this.action, $(this).serialize(), null, 'script');
            history.replaceState(null, document.title, this.action + "?" + $(this).serialize());
            return false;
          });

          $(window).bind("popstate", function(event) {
            $.getScript(location.href);
            /* Act on the event */
          });
        };
        
      });
    </script>
  </body>
</html>
