<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "BaoTang" %></title>
    <%= csrf_meta_tags %>

    <%= render 'layouts/shim' %>
  </head>
  <body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true">

    <%= render 'layouts/header' %>
    
    <%= render 'layouts/content' %>

    <%= render 'layouts/footer' %>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <script>
      $(document).ready(function () {
          $('label.tree-toggler').click(function () {
              $(this).parent().children('ul.tree').toggle(300);
          });
      });

      $(document).ready(function() {
        $('.carousel').carousel({
          interval: 5000
        })

        $('#file').change(function(){
          $('#subfile').val($(this).val());
        });

        $('#avatarfile').change(function(){
          $('#textfile').val($(this).val());
        });
      });
    </script>
  </body>
</html>
